--spacing-between-lines: 0.3rem;

.textOutput {
    display: flex;
    color: var(--color-text-on-light);
    gap: var(--spacing-between-lines);

    &.multiline {
        flex-direction: column;
    }

    .value {
        word-break: break-all;
        font-weight: var(--font-weight-medium);
    }
}
