.page {
    .mainContent {
        --spacing-right: var(--width-navbar);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--spacing-extra-large) 0;
        padding-right: calc(var(--spacing-right) + var(--spacing-gigantic));
        padding-left: calc(var(--spacing-gigantic) * var(--multiplier) * var(--multiplier));
        min-height: 100vh;
        gap: var(--spacing-super-large);

        @media screen and (max-width: 1600px) {
            padding-right: var(--spacing-right);
        }

        @media screen and (max-width: 1500px) {
            padding-right: var(--spacing-gigantic);
            padding-left: calc(var(--spacing-gigantic) * var(--multiplier));
        }

        @media screen and (max-width: 1300px) {
            padding: var(--spacing-extra-large);
        }

        @media screen and (max-width: 1000px) {
            padding-right: var(--spacing-medium);
            padding-left: 0;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding-right: unset;
        }

        .map {
            display: flex;
            flex-grow: 1;
            filter: saturate(0%);
            transition: .2s filter ease-in-out;

            @media screen and (max-width: 900px) {
                position: relative;
                width: 100%;
                height: 22rem;
                overflow: hidden;
            }

            .mapOuter {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                width: 30rem;
                height: 30rem;
                overflow: hidden;
                text-align: right;

                @media screen and (max-width: 900px) {
                    border-radius: 0;
                    width: 100%;
                }

                .gmapIframe {
                    transition: .3s border-radius ease-in-out;
                    border: none;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    width: 100%;

                    @media screen and (max-width: 900px) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover {
                    border-radius: 0%;
                    .gmapIframe {
                        border-radius: 0%;
                    }
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            gap: var(--spacing-gigantic);
            overflow: auto;
            color: var(--color-text-on-dark-alt);

            .labelValue {
                font-size: var(--font-size-extra-small);
            }

            @media screen and (max-width: 900px) {
                flex-shrink: unset;
                gap: var(--spacing-large);
            }

            .contactDetail {
                text-align: right;
                font-size: var(--font-size-small);

                .email {
                    text-decoration: underline;
                }
            }
        }

        .link {
            transition: all 0.2s ease-in;
            color: var(--color-text-on-dark-alt);

            &:hover {
                /* TODO: Change this color */
                color: var(--color-text-on-dark);
            }
        }

        .contactQuote {
            text-align: right;
            font-size: var(--font-size-heading-extra-small);
            font-weight: var(--font-weight-bold);
        }

        @media screen and (max-width: 900px) {
            align-items: end;
            flex-direction: column;
            flex-wrap: unset;
            padding: 0;

            .map {
                order: 2;
            }

            .contact {
                order: 1;
                padding: var(--spacing-extra-large);
            }
        }
    }
}
