.contact {
    .mainContent {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: var(--spacing-extra-large);
        gap: var(--spacing-super-large);

        @media screen and (max-width: 1100px) {
            padding: 0;
        }
    }
    
    .map {
        display: block;
        filter: saturate(0%);
        transition: .2s filter ease-in-out;

        .mapOuter {
            position: relative;
            transition: .3s border-radius ease-in-out;
            border-radius: var(--border-radius);
            width: 40rem;
            height: 40rem;
            text-align: right;

            @media screen and (max-width: 1100px) {
                border-radius: 0;
                width: 24rem;
                height: 24rem;
            }

            .gmapCanvas {
                transition: .3s border-radius ease-in-out;
                border-radius: var(--border-radius);
                background: none;
                width: 35rem;
                height: 35rem;
                overflow: hidden;

                @media screen and (max-width: 1100px) {
                    border-radius: 0;
                    width: 24rem;
                    height: 24rem;
                }
            }
        }
        &:hover {
            filter: saturate(100%);
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-contact-list);

        @media screen and (max-width: 1100px) {
            gap: var(--spacing-large);
        }

        .contactDetail {
            text-align: right;
            font-size: var(--font-size-small);

            .email {
                text-decoration: underline;
            }
        }
    }
    .hear {
        font-size: var(--font-size-heading-small);
        font-weight: var(--font-weight-bold);
    }
}
