.sideNavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-foreground);

    .routes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: var(--spacing-extra-large);
        gap: var(--spacing-small);
        text-align: center;
    }
}
