.responsive {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-extra-large);
    width: 100%;
    overflow-y: auto;
    gap: var(--spacing-extra-large);

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--spacing-extra-large);

        .link {
            display: flex;
            flex-direction: column;
            width: calc(100% / 2 - var(--spacing-extra-large) / 2);
            gap: var(--spacing-super-small);

            .imageContainer {
                display: flex;
                position: relative;
                height: 6rem;
                max-height: 12rem;

                .coverImage {
                    transition: all ease 1s;
                    width: 100%;
                    filter: grayscale(100%);
                    object-fit: cover;
                    object-position: center;
                }

                &:nth-child(12),
                &:nth-child(11),
                &:nth-child(6),
                &:nth-child(5) {
                    width: 100%;
                }

                .title {
                    top: calc(100% + var(--spacing-super-small));
                    transition: all ease 0.5s;
                    opacity: 1;
                    font-size: var(--font-size-extra-small);
                }
                &:hover {
                    .coverImage {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}
