.logo {
    display: flex;
    position: relative;

    &.extraSmall {
        width: 4.35rem;
        height: 3.5rem;

        @media screen and (max-width: 900px) {
            width: 3.6rem;
            height: 2.7rem;
        }
    }
    &.small {
        width: 6.25rem;
        height: 5rem;

        @media screen and (max-width: 900px) {
            width: 4.35rem;
            height: 3.5rem;
        }
    }
    &.mediumSmall{
        width: 9rem;
        height: 6.75rem;

        @media screen and (max-width: 900px) {
            width: 6.25rem;
            height: 5rem;
        }
    }
    &.medium {
        width: 12.5rem;
        height: 10rem;

        @media screen and (max-width: 900px) {
            width: 9rem;
            height: 6.75rem;
        }
    }
    &.large{
        width: 15rem;
        height: 12.5rem;

        @media screen and (max-width: 900px) {
            width: 12.5rem;
            height: 10rem;
        }
    }
    &.extraLarge {
        width: 20rem;
        height: 12.5rem;

        @media screen and (max-width: 900px) {
            width: 15rem;
            height: 12.5rem;
        }
    }

    .image {
        position: absolute;
        width: 100%;
        object-fit: contain;
    }
}
