.item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super-small);

    .top {
        display: flex;
        align-items: flex-end;
        gap: var(--spacing-medium);

        .profilePicture {
            display: flex;
            position: relative;
            flex-shrink: 0;
            width: 120px;
            height: 120px;
            .picture {
                object-fit: cover;
                object-position: top;
                filter: grayscale(100%);
            }
        }
        .name {
            transition: 1s ease-out;
            opacity: 0;
            padding: var(--spacing-large) 0;
            font-size: var(--font-size-small);
            @media screen and (max-width: 900px) {
                opacity: 1;
            }
        }
    }

    .personalInfo {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-size: var(--font-size-extra-small);

        .designation {
            font-weight: var(--font-weight-bold);
        }
    }
    &:hover {
        .name {
            opacity: 1;
        }
    }
}
