.sideNavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);

    .routes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: var(--spacing-extra-large);
        gap: var(--spacing-small);
        font-size: var(--spacing-medium);

        .active {
            color: var(--color-text-on-dark-alt);
        }
    }

    &.light {
        background-color: var(--color-background-light);

        .active {
            color: var(--color-text-on-light-alt);
        }
    }
}
