.sideNavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
    padding: var(--spacing-large);
    width: var(--width-navbar);

    @media screen and (max-width: 900px) {
        --width-navbar: 100vw;
        padding: 0;

    }
    .logo {
        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .link {
        transition: all 0.2s ease-in;
        &:hover {
            color: var(--color-text-on-dark-alt)
        }
    }

    .routes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: var(--font-size-small);
        gap: var(--spacing-super-small);

        @media screen and (max-width: 900px) {
            flex-direction: row;
            padding: var(--spacing-small) var(--spacing-large);
            height: var(--height-navbar);
            color: var(--color-text-on-dark);
            font-size: var(--font-size-medium);
            gap: var(--spacing-extra-large);

            .link {
                flex-grow: 1;
                text-align: center;
            }
        }

        .active {
            color: var(--color-text-on-dark-alt);
        }
    }

    &.light {
        background-color: var(--color-background-light);

        .link{
            &:hover {
                color: var(--color-text-on-light-alt);
            }
        }

        .active {
            color: var(--color-text-on-light-alt);
        }
    }

    &.noLogo {
        justify-content: flex-end;
    }

    &.transparentMode {
        background-color: transparent;
        height: 100vh;

        >* {
            color: var(--color-text-grey);
        }

        .active {
            color: var(--color-text-on-light-alt);
        }
    }

}
