.sideNavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
    padding: var(--spacing-large);
    width: var(--width-navbar);

    .routes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--spacing-small);
        font-size: var(--font-size-medium);

        .active {
            color: var(--color-text-on-dark-alt);
        }
    }

    &.light {
        background-color: var(--color-background-light);

        .active {
            color: var(--color-text-on-light-alt);
        }
    }
    &.noLogo {
        justify-content: flex-end;
    }
}
