.page {
    display: flex;

    .navbar {
        width: 13rem;
    }

    .content {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        gap: var(--spacing-medium);
        padding: 0 var(--spacing-super-large);

        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding: 0;
        }

        .imagesContainer {
            display: flex;
            flex-grow: 1;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            .imageWrapper {
                position: relative;
                width: 13rem;
                height: 100vh;

                @media screen and (max-width: 900px) {
                    flex-grow: 1;
                    width: 100vw;
                    height: unset;
                }

                .image {
                    pointer-events: none;
                    object-fit: cover;
                    filter: grayscale(100%);
                    transition: filter ease 1s;
                }
                &:hover {
                    .image {
                        filter: grayscale(0);
                    }
                }
            }
        }
        .infoContainer {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: flex-end;
            padding-bottom: var(--spacing-super-large);

            .vizTitle {
                width: 28vw;
                text-transform: uppercase;
                line-height: 1;
                color: var(--color-text-on-light-alt);
                font-size: var(--font-size-heading-extra-large);
                font-weight: var(--font-weight-bold);
            }

            @media screen and (max-width: 900px) {
                justify-content: center;
                height: 10rem;

                .vizTitle {
                    width: unset;
                }
            }
        }
    }
}
