.storiesBlock {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    line-height: 0.9;
    gap: 0;

    &.semiTransparent {
        color: var(--color-text-on-dark);
    }

    .stories {
        text-transform: uppercase;
        font-size: calc(1.3 * var(--font-size-extra-large));
        font-weight: var(--font-weight-bold);
    }
    .together {
        padding-left: calc(var(--spacing-extra-small) / 3);
        text-transform: uppercase;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }
}
