:root {
    /* Constants  */
    --multiplier: 1.2599; /* Major third scale */

    --font-size-base: 1rem;
    --font-size-heading-base: 2rem;
    --spacing-base: 1.25rem;
    --spacing-studio-logo: 8rem;

    @media screen and (max-width: 900px) {
        --font-size-base: 1rem;
        --font-size-heading-base: 1.25rem;
        --spacing-base: 0.85rem;
    }

    /* Colors */
    --color-text: #ffffff;
    --color-text-grey: #808080;
    --color-text-on-dark: #3e3e3e;
    --color-text-on-dark-alt: #f7f7f7;
    --color-text-on-light: #777777;
    --color-text-on-light-alt: #414141;

    --color-primary: #f5f5f5;
    --color-secondary: #111111;

    --color-background: #000000;
    --color-background-light: #ffffff;
    --color-background-white: #ffffff;

    /* Font weights */
    --font-weight-light: 200;
    --font-weight-medium: 400;
    --font-weight-bold: 600;

    /* Font size */
    --font-size-extra-small: calc(var(--font-size-base) / var(--multiplier));
    --font-size-small: var(--font-size-base);
    --font-size-medium: calc(var(--font-size-base) * var(--multiplier));
    --font-size-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier));
    --font-size-extra-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));

    /* Heading font size */
    --font-size-heading-extra-small: calc(var(--font-size-heading-base) / (var(--multiplier) * var(--multiplier)));
    --font-size-heading-small: calc(var(--font-size-heading-base) / var(--multiplier));
    --font-size-heading-medium: var(--font-size-heading-base);
    --font-size-heading-large: calc(var(--font-size-heading-base) * var(--multiplier));
    --font-size-heading-extra-large: calc(var(--font-size-heading-base) * var(--multiplier) * var(--multiplier));

    /* Spacing */
    --spacing-mega-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-super-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-extra-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier)));
    --spacing-small: calc(var(--spacing-base) / var(--multiplier));
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * var(--multiplier));
    --spacing-extra-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier));
    --spacing-super-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-mega-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-gigantic: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-enormous: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --border-radius: 50%;

    --width-navbar: 12rem;

    @media screen and (max-width: 1280px) {
        --width-navbar: 10rem;
    }

    @media screen and (max-width: 1080px) {
        --width-navbar: 8rem;
    }

    @media screen and (max-width: 900px) {
        --width-navbar: 100%;
    }

    --color-background-scrollbar: #ffffff;
    --radius-scrollbar-border: 0.25rem;
    --color-foreground-scrollbar: #cccccc;
    --width-scrollbar: 0.5rem;
    --height-navbar: 3.2rem;
    --height-arrow: 2.8rem;
}
