.swiperContainer {
    display: flex;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.buckets {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    gap: var(--spacing-medium);

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: var(--spacing-extra-large);
        gap: var(--spacing-extra-large);

        .imageContainer {
            display: flex;
            position: relative;
            width: calc(100% / 4 - 3 * var(--spacing-extra-large) / 4);
            max-height: 12rem;

            .coverImage {
                transition: all ease 1s;
                width: 100%;
                filter: grayscale(100%);
                object-fit: cover;
                object-position: center;
            }

            &:nth-child(12),
            &:nth-child(11),
            &:nth-child(6),
            &:nth-child(5) {
                width: calc(100% / 2 - var(--spacing-extra-large) / 2);
            }

            .title {
                position: absolute;
                bottom: -1.5em;
                transition: all ease 0.5s;
                opacity: 0;
                font-size: var(--font-size-extra-small);

                .bold {
                    font-weight: var(--font-weight-bold);
                }
            }

            &:hover {
                .coverImage {
                    filter: grayscale(0%);
                }
                .title {
                    opacity: 1;
                }
            }
        }
    }
}

.responsive {
    --height-arrow: 2rem;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: var(--height-arrow);
    width: 100%;
    overflow: auto;

    @media screen and (max-width: 900px) {
        display: flex;
    }
}
