.studio {
    display: flex;
    background-color: var(--color-background-white);

    .bgWrap {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .leftBackground {
            position: absolute;
            top: 0;
            left: 0;
            width: 70vw;
            height: 100vh;
            .image {
                position: absolute;
                object-fit: cover;
                object-position: center;
            }
        }

        .navbar {
            flex-shrink: 0;
            z-index: 1;
        }

        .content {
            display: flex;
            flex-grow: 1;
            gap: var(--spacing-medium);

            @media screen and (max-width: 960px) {
                padding: var(--spacing-medium);
            }

            .logoWrapper {
                display: flex;
                align-self: flex-end;
                justify-content: center;
                width: 42rem;

                @media screen and (max-width: 960px) {
                    align-self: center;
                    width: 100%;
                }
            }

            .studioContent {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-grow: 1;
                z-index: 1;
                margin: auto;
                height: 80vh;
                text-align: center;
                color: var(--color-text-on-light-alt);
                gap: calc(var(--spacing-extra-large) * 2);

                .storiesBlock {
                    align-self: flex-end;
                    flex-grow: 1;
                    width: 42rem;
                }

                .studioRoutes {
                    display: flex;
                    align-self: flex-end;
                    flex-direction: column;
                    max-width: 25rem;
                    text-align: right;
                    color: var(--color-text-on-light-alt);
                    font-size: var(--font-size-small);
                }
            }
        }

        .rightBackground{
            display: flex;
            position: relative;
            align-self: flex-end;
            flex-shrink: 0;
            z-index: 1;
            background-color: var(--color-background-light);
            width: 100%;
            max-width: 30vw;
            height: 100vh;
            .image {
                position: absolute;
                object-fit: cover;
                object-position: center;
            }

            @media screen and (max-width: 960px) {
                display: none;
            }
        }

    }
}
