.page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    min-height: 100vh;
    color: var(--color-text-on-dark);

    &.light {
        background-color: var(--color-background-light);
        color: var(--color-text-on-light);
    }

    .pageContent {
        display: flex;
        height: 100vh;

        .navbar {
            flex-shrink: 0;
        }

        .content {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
