.page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    min-height: 100vh;
    color: var(--color-text-on-dark);

    &.light {
        background-color: var(--color-background-light);
        color: var(--color-text-on-light);
    }

    .responsiveLogoContainer {
        display: none;
        padding: var(--spacing-large) var(--spacing-large) 0;

        @media screen and (max-width: 900px) {
            display: flex;
            order: 1;
        }
    }

    .pageContent {
        display: flex;
        gap: var(--spacing-medium);

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;
        }

        .navbar {
            flex-shrink: 0;

            @media screen and (max-width: 900px) {
                position: fixed;
                bottom: 0;
                flex-shrink: 0;
                z-index: 1;
                width: 100%;
                height: unset;
            }
        }

        .content {
            flex-grow: 1;
        }
    }
}
