.page {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background-light);
    color: var(--color-text-on-light-alt);
    scroll-snap-type: y mandatory;

    .imageWrapper {
        display: flex;
        position: absolute;
        flex-shrink: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;

        .image {
            object-fit: cover;
            object-position: center;
        }
    }

    .hero {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: stretch;
        width: 100%;
        height: 100vh;
        overflow: auto;
        font-size: var(--font-size-heading-extra-small);
        scroll-snap-align: start;

        .header {
            display: flex;
            flex-direction: column;
            background: linear-gradient(0deg, rgb(0% 0% 0% / 0) 0%, rgb(0% 0% 0% / 0.004803679899192392) 6.25%, rgb(0% 0% 0% / 0.019030116872178315) 12.5%, rgb(0% 0% 0% / 0.04213259692436369) 18.75%, rgb(0% 0% 0% / 0.0732233047033631) 25%, rgb(0% 0% 0% / 0.11110744174509943) 31.25%, rgb(0% 0% 0% / 0.15432914190872754) 37.5%, rgb(0% 0% 0% / 0.20122741949596792) 43.75%, rgb(0% 0% 0% / 0.24999999999999997) 50%, rgb(0% 0% 0% / 0.29877258050403205) 56.25%, rgb(0% 0% 0% / 0.3456708580912724) 62.5%, rgb(0% 0% 0% / 0.3888925582549005) 68.75%, rgb(0% 0% 0% / 0.42677669529663687) 75%, rgb(0% 0% 0% / 0.45786740307563634) 81.25%, rgb(0% 0% 0% / 0.4809698831278217) 87.5%, rgb(0% 0% 0% / 0.4951963201008076) 93.75%, rgb(0% 0% 0% / 0.5) 100%);
            padding: var(--spacing-large);
            padding-bottom: var(--spacing-gigantic);
            gap: var(--spacing-medium);

            .top {
                display: flex;
                align-items: center;
                gap: var(--spacing-small);

                .logo {
                    flex-shrink: 0;
                }

                .title {
                    color: #fff;

                    &.darkCoverImage {
                        text-shadow: 1px 1px 6px rgba(100, 100, 100, 1);
                        color: #fff;
                    }
                }
            }

            @media screen and (max-width: 900px) {
                padding-bottom: calc(var(--spacing-gigantic) * 2);
            }
        }
    }

    .detail {
        scroll-snap-align: start;
    }

    @media screen and (max-width: 900px) {
        scroll-snap-type: unset;
    }
}
