.page {
    display: flex;
    padding: var(--spacing-super-large);

    .people {
        display: flex;
        flex-grow: 1;
        padding-top: var(--spacing-gigantic);
        height: 44rem;
        gap: var(--spacing-mega-large);

        @media screen and (max-width: 900px) {
            align-content: unset;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-top: 0;
            padding-bottom: calc(var(--spacing-large) + var(--height-navbar) + var(--height-arrow));
            height: unset;
        }

        .members, .founders {
            display: flex;
            flex-direction: column;
            width: 25rem;
            gap: var(--spacing-large);

            @media screen and (max-width: 900px) {
                width: 100%;
            }
        }

        .members {
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.2em;
            }

            @media screen and (max-width: 900px) {
                overflow: unset;
            }
        }

        .alumni{
            display: flex;
            align-self: flex-end;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: var(--spacing-large);
            text-align: right;
            font-size: var(--font-size-extra-small);
            gap: var(--spacing-large);

            @media screen and (max-width: 900px) {
                align-self: flex-start;
                justify-content: flex-start;
                text-align: left;
            }

            .title {
                text-decoration: underline;
            }

            .pastMembers {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-super-small);

                .member {
                    &:hover {
                        font-weight: var(--font-weight-bold);
                    }
                }
            }
        }

        .person {
            @media screen and (max-width: 900px) {
                flex-basis: unset;
            }
        }
    }

    @media screen and (max-width: 900px) {
        padding: 0 var(--spacing-extra-large);
    }
}

