.studio {
    display: flex;
    background-color: var(--color-background-white);
    scrollbar-gutter: stable;
    overflow: auto;

    .bgWrap {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: auto;

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;
        }

        .leftBackground {
            position: absolute;
            top: 0;
            left: 0;
            width: 70vw;
            height: 100vh;

            .image {
                position: absolute;
                object-fit: cover;
                object-position: center;
            }
        }

        .navbar {
            align-self: flex-end;
            flex-shrink: 0;
            z-index: 11;

            @media screen and (max-width: 900px) {
                flex-shrink: unset;
                height: unset;
            }
        }

        .content {
            display: flex;
            flex-grow: 1;
            gap: var(--spacing-medium);
            overflow: auto;

            @media screen and (max-width: 960px) {
                padding: var(--spacing-medium);
            }

            .logoWrapper {
                display: flex;
                align-self: flex-end;
                justify-content: flex-end;
                width: 42rem;

                @media screen and (max-width: 960px) {
                    align-self: center;
                    width: 100%;
                }
            }
            .studioContent {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-grow: 1;
                z-index: 1;
                margin: auto;
                height: 80vh;
                overflow: hidden;
                text-align: center;
                color: var(--color-text-on-light-alt);
                gap: calc(var(--spacing-extra-large) * 2);

                @media screen and (max-width: 900px) {
                    overflow: auto;
                }

                .descriptionContainer {
                    display: flex;
                    align-self: flex-end;
                    flex-direction: column;
                    flex-grow: 1;
                    gap: calc(var(--spacing-extra-large) * 2);

                    .studioDescription {
                        display: flex;
                        transition: all 0.4s ease-in-out;
                        max-width: 42rem;
                        text-align: justify;
                        font-size: var(--font-size-small);

                        &.hideDescription {
                            opacity: 0;

                            @media screen and (max-width: 900px) {
                                display: none;
                            }
                        }
                    }
                }

                .studioTopics {
                    display: flex;
                    align-self: flex-end;
                    flex-direction: column;
                    transition: all 0.4s ease-in-out;
                    max-width: 42rem;
                    text-align: right;
                    color: var(--color-text-on-light-alt);
                    font-size: var(--font-size-large);

                    .topic {
                        text-decoration: underline;
                        color: var(--color-text-on-light);
                        &.active {
                            text-decoration: unset;
                            color: var(--color-text-on-light-alt);
                            font-weight: var(--font-weight-bold);
                        }
                    }
                    .topicDescription {
                        text-align: justify;
                        font-size: var(--font-size-small);
                    }

                }
            }
            .rightBackground {
                display: flex;
                position: relative;
                align-self: flex-end;
                flex-shrink: 0;
                z-index: 1;
                width: 30vw;
                height: 100vh;
                .image {
                    position: absolute;
                    object-fit: cover;
                    object-position: right;
                }

                @media screen and (max-width: 960px) {
                    display: none;
                }

            }
        }
    }
}
