.studio {
    display: flex;
    background-color: var(--color-background-light);

    .bgWrap {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .navbar {
            z-index: 1;
        }

        .leftBackground {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-background-light);
            width: 70vw;
            height: 100vh;

            .image {
                position: absolute;
                object-fit: cover;
                object-position: center;
            }
        }
        .rightBackground {
            position: absolute;
            right: 0;
            width: 30vw;
            height: 100vh;
            .image {
                position: absolute;
                object-fit: cover;
                object-position: right;
            }
        }

        .studioContent {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            margin: auto;
            height: 80vh;
            text-align: center;
            color: var(--color-text-on-light-alt);
            gap: calc(var(--spacing-extra-large) * 2);

            .descriptionContainer {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: calc(var(--spacing-extra-large) * 2);

                .studioDescription {
                    display: flex;
                    max-width: 42rem;
                    font-size: var(--font-size-small);

                    @media screen and (max-width: 720px) {
                        max-width: 100%;
                    }
                }
            }

            .studioRoutes {
                display: flex;
                align-self: flex-end;
                flex-direction: column;
                text-align: right;
                text-decoration: underline;
                color: var(--color-text-on-light-alt);
                font-size: var(--font-size-large);
            }
        }
    }
}
