.home {
    .mainContent {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: var(--spacing-extra-large);
        gap: var(--spacing-extra-large);
    }
}
