.home {
    .mainContent {
        padding: var(--spacing-extra-large);
        gap: var(--spacing-extra-large);
    }

    .routes {
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--spacing-extra-large);
    }
}
