.page {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 100vh;

    .navbar {
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
    }

    .footer {
        flex-shrink: 0;
    }
}
