.page {
    display: flex;
    padding: var(--spacing-super-large);

    .people {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        padding-top: var(--spacing-super-large);
        max-width: 900px;
        height: 40rem;
        overflow: auto;
        gap: var(--spacing-medium);

        @media screen and (max-width: 900px) {
            align-content: unset;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .person {
            flex-basis: 45%;
            height: 12rem;

            @media screen and (max-width: 900px) {
                flex-basis: unset;
            }
        }
    }
}

