.page {
    display: flex;
    padding: var(--spacing-super-large);

    .people {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: var(--spacing-super-large);

        @media screen and (max-width: 900px) {
            display: none;
        }

        .listingContainer {
            display: flex;
            margin: unset;
            width: 30vw;
            gap: var(--spacing-medium);

            .slide {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .responsiveContent {
        display: none;
        flex-direction: column;
        gap: var(--spacing-medium);

        @media screen and (max-width: 900px) {
            display: flex;
        }
    }
}

