.collapsibleContent{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    z-index: 1;

    .headerContainer {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: var(--tui-spacing-medium);

        .header {
            flex-grow: 1;
        }

        .icon {
            flex-shrink: 0;
        }
    }

    .children {
        display: none;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        height: 0;

        &.expanded {
            display: block;
            opacity: 1;
            height: auto;
        }
    }
}
