.sideNavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
    padding: var(--spacing-large);
    width: var(--width-navbar);
    height: 100vh;

    .linkContainer {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-super-large) * 2);
    }
    .routes, .subRoutes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: var(--font-size-medium);
        gap: var(--spacing-super-small);

        .active {
            color: var(--color-text-on-dark-alt);
        }
    }

    &.light {
        background-color: var(--color-background-light);

        .active {
            color: var(--color-text-on-light-alt);
        }
    }
    &.noLogo {
        justify-content: flex-end;
    }
    &.transparentMode {
        background-color: transparent;

        >* {
            color: var(--color-text-grey);
        }

        .active {
            color: var(--color-text-on-light-alt);
        }
    }
}
