.page {
    display: flex;
    position: relative;
    background-color: var(--color-background-light);
    height: 100vh;
    color: var(--color-text-on-light);
    font-size: var(--font-size-small);

    .workTitle {
        position: absolute;
        padding: var(--spacing-large);
        font-size: var(--font-size-heading-extra-small);
        font-weight: var(--font-weight-bold);
    }
    .navbar {
        flex-shrink: 0;
    }
    .content {
        display: flex;
        flex-grow: 1;
        gap: var(--spacing-large);

        .left {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: calc(2 *var(--spacing-extra-large)) 0 var(--spacing-large);
            gap: var(--spacing-large);

            .artworkContainer {
                position: relative;
                align-self: center;
                width: 100%;
                height: 20rem;

                .artwork {
                    object-fit: contain;
                    object-position: bottom;
                }
            }
            .description {
                padding-right: var(--spacing-extra-small);
                overflow: auto;
                text-align: justify;
                line-height: 1.5;

            }
            ::-webkit-scrollbar {
                width: 0.3em;
            }
            ::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .carouselWrapper {
            display: flex;
            position: relative;
            flex-shrink: 0;
            justify-content: flex-end;
            width: 60vw;
            gap: var(--spacing-medium);

            .carousel {
                flex-grow: 1;
            }

            .imageWrapper {
                width: 100%;
                height: 100vh;

                .image {
                    object-fit: cover;
                }
            }

            :global {
                .swiper {
                    position: unset;
                }
                .swiper-slide {
                    opacity: 0 !important;
                    &.swiper-slide-active {
                        opacity: 1 !important;
                    }
                    &.swiper-slide-prev {
                        opacity: 0 !important;
                    }
                }

                .swiper-wrapper {
                    height: 100vh;
                }
                .swiper-pagination {
                    position: absolute;
                    right: var(--spacing-medium);
                }
            }

            .rightPane {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                justify-content: space-between;

                .logo {
                    align-self: flex-end;
                }

                .extraInfo {
                    display: flex;
                    align-self: flex-end;
                    flex-direction: column;
                    padding: var(--spacing-medium);
                    text-align: right;
                    gap: var(--spacing-extra-small);
                }
            }
        }
    }
}

