.page {
    display: flex;
    position: relative;
    background-color: var(--color-background-light);
    height: 100vh;
    min-height: 100vh;
    color: var(--color-text-on-light);
    font-size: var(--font-size-small);

    @media screen and (max-width: 900px) {
        flex-direction: column;
        height: unset;
    }

    .workTitle {
        position: absolute;
        padding: var(--spacing-large);

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .topBar {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-large);

        @media screen and (max-width: 900px) {
            display: flex;
        }
    }

    .responsiveArtwork {
        display: none;
        position: relative;
        align-self: center;
        width: 100%;
        min-height: 5rem;

        @media screen and (max-width: 900px) {
            display: flex;
        }

        .artwork {
            object-fit: contain;
            object-position: bottom;
        }
    }

    .navbar {
        flex-shrink: 0;

        @media screen and (max-width: 900px) {
            position: sticky;
            bottom: 0;
            order: 3;
            z-index: 1;
            width: unset;
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        gap: var(--spacing-large);

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        .tabs {
            display: none;
            padding: 0 var(--spacing-large);
            gap: var(--spacing-medium);

            @media screen and (max-width: 900px) {
                display: flex;
            }

            .button {
                text-decoration: underline;
                color: var(--color-text-on-light);

                &.active {
                    text-decoration: unset;
                    color: var(--color-text-on-light-alt);
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        .left {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-top: calc(2 *var(--spacing-extra-large));
            padding-bottom: var(--spacing-gigantic);
            gap: var(--spacing-large);

            @media screen and (max-width: 900px) {
                padding: 0 var(--spacing-large);
            }

            .artworkContainer {
                position: relative;
                align-self: center;
                width: 100%;
                height: 20rem;

                @media screen and (max-width: 900px) {
                    display: none;
                }

                .artwork {
                    object-fit: contain;
                    object-position: bottom;
                }
            }
            .description {
                padding-right: var(--spacing-extra-small);
                overflow: auto;
                text-align: justify;
                line-height: 1.5;

                @media screen and (max-width: 900px) {
                    display: none;

                    &.textShown {
                        display: flex;
                        flex-direction: column;
                    }
                }

            }
            ::-webkit-scrollbar {
                width: 0.3em;
            }
            ::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .carouselWrapper {
            --swiper-pagination-color: var(--color-text-on-light);
            display: flex;
            position: relative;
            flex-shrink: 0;
            justify-content: flex-end;
            width: 60vw;
            gap: var(--spacing-medium);

            .imageContainer {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                overflow-y: auto;
                flex-grow: 1;
                scroll-snap-type: y mandatory;

                &::-webkit-scrollbar{
                    display: none;
                }

                .imageWrapper {
                    position: relative;
                    flex-shrink: 0;
                    width: 100%;
                    height: 100vh;
                    scroll-snap-align: start;

                    .image {
                        object-fit: contain;
                    }
                }
            }

            @media screen and (max-width: 900px) {
                align-items: center;
                flex-direction: column;
                width: unset;
            }

            .rightPane {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                justify-content: space-between;
                padding-bottom: var(--spacing-gigantic);
                width: var(--width-navbar);

                @media screen and (max-width: 900px) {
                    flex-shrink: unset;
                    justify-content: center;
                    width: 100%;
                }

                .logo {
                    align-self: flex-end;
                    @media screen and (max-width: 900px) {
                        display: none;
                    }
                }

                .extraInfo {
                    display: flex;
                    align-self: flex-end;
                    flex-direction: column;
                    padding: var(--spacing-medium);
                    text-align: right;
                    gap: var(--spacing-extra-small);

                    @media screen and (max-width: 900px) {
                        align-self: stretch;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding: unset;
                        padding-top: var(--spacing-medium);
                        text-align: center;

                        .info {
                            display: flex;
                            align-items: center;
                            flex-basis: 48%;
                            flex-direction: column;
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }
}

