.works {
    --width-grid-image: 24rem;
    display: flex;
    flex-direction: column;
    padding-right: var(--width-navbar);
    /* NOTE: 2 heights are here to set a fallback height if --doc-height doesn't work */
    min-height: 100vh;
    min-height: var(--doc-height);
    gap: var(--spacing-medium);

    .navbar {
        @media screen and (max-width: 900px) {
            position: fixed;
            bottom: 0;
            z-index: 1;
            width: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        padding-right: unset;
    }

    .topContainer {
        flex-shrink: 0;
        padding: var(--spacing-large) var(--spacing-large) 0;
    }

    .content {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;
        }
    }
}
