.studio {
    display: flex;
    background-color: var(--color-background-light);

    .bgWrap {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .navbar {
            z-index: 1;
        }

        .leftBackground {
            position: absolute;
            top: 0;
            left: 0;
            width: 70vw;
            height: 100vh;
            .image {
                position: absolute;
                object-fit: cover;
                object-position: center;
            }
        }
        .rightBackground{
            position: absolute;
            right: 0;
            width: 30vw;
            height: 100vh;
            .image {
                position: absolute;
                object-fit: cover;
                object-position: right;
            }
        }

        .studioContent {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            margin: auto;
            height: 80vh;
            text-align: center;
            color: var(--color-text-on-light-alt);
            gap: calc(var(--spacing-extra-large) * 2);

            .storiesBlock {
                align-self: flex-end;
                flex-grow: 1;
                width: 42rem;
            }

            .studioRoutes {
                display: flex;
                align-self: flex-end;
                flex-direction: column;
                max-width: 25rem;
                text-align: right;
                color: var(--color-text-on-light-alt);
                font-size: var(--font-size-small);
            }
        }
    }
}
